APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost
APP_TIMEZONE=UTC

AUTHORIZATION_SERVER_ENABLED=true
AUTHORIZATION_SERVER_PUBLIC_KEY=/var/www/projects/php/investor_testing/public.pem
AUTHORIZATION_SERVER_PRIVATE_KEY=/var/www/projects/php/investor_testing/private.pem
AUTHORIZATION_SERVER_GRANT_CODE_ENABLED=true
AUTHORIZATION_SERVER_GRANT_CODE_LENGTH=6
AUTHORIZATION_SERVER_GRANT_CODE_LIFETIME=600
AUTHORIZATION_SERVER_GRANT_CODE_ATTEMPTS_MAX=5
AUTHORIZATION_SERVER_GRANT_REFRESH_ENABLED=true
AUTHORIZATION_SERVER_TOKEN_ALGORITHM=RS256
AUTHORIZATION_SERVER_TOKEN_ACCESS_LIFETIME=600
AUTHORIZATION_SERVER_TOKEN_REFRESH_LIFETIME=600

INVESTOR_TESTING_CHARSET=utf8
INVESTOR_TESTING_SCHEMA=public
INVESTOR_TESTING_TIMEZONE=UTC
INVESTOR_TESTING_DATABASE=
INVESTOR_TESTING_HOST=
INVESTOR_TESTING_PORT=
INVESTOR_TESTING_USERNAME=
INVESTOR_TESTING_PASSWORD=

MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=